body {
  font-size: 14px;
}

section {
  padding: 2% 0;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
  margin: 15px 0 10px 0;
}

p {
  margin: 0 0 10px 0;
}

img {
  height: 175px;
}

section .row:nth-child(1n+2) {
  margin-top: 30px;
}

.content-box {
  width: 100%;
  padding: 0 10px;
  text-align: center;
}

.how,
.why {
  background: #f9f9f9;
  margin: 50px 0 0 0;
}

.why img {
  background: #428bca;
  border-radius: 50%;
  padding: 25px;
}

.why .content-box {
  border-bottom: 1px solid #000;
}

/* smartphone */
@media all and (max-width:767px) {
  img {
    height: 125px;
  }

  .margin-xs {
    margin: 30px 0 0 0;
  }
}

/* tablet */
@media all and (min-width:768px) and (max-width:991px) {
  img {
    height: 150px;
  }

  .margin-md {
    margin: 30px 0 0 0;
  }
}
